<form method="POST">
    <label>ID:</label>
    <input type="text" name="_id" minlength="4" maxlength="4">
    <br></br>
    <label>Phone</label>
    <input type="text" name="phone" minlength="5"><br>
    <label>Email</label>
    <input type="text" name="email" pattern=".+@gmail\.com" required><br>
    <input type="submit" value="OK">
</form>