<h1> edit employee</h1>

<form action="/tutorial/action.html" method="post">
    <fieldset style="background: #f6f8ff; border: 2px solid #4238ca;">
        <legend>Customer Information</legend>
        <input type="text" name="firstname" placeholder="EID"><br /><br />
        <input type="text" name="lastname" placeholder="Name"><br /><br />
        <input type="text" name="lastname" placeholder="Role"><br /><br />
        <input type="text" name="lastname" placeholder="Salary"><br /><br />

        <button type="submit">Submit</button>
    </fieldset>

</form>
<br /><br />
<a href="http://localhost:3004/homePage">Home</a>