<h1> edit employee</h1>


    <form method="POST">
        <label>EID</label>
        <input type="text" name="eid" required value="<%=editemployee.eid %>">
        <br /><br />

        <label>Name</label>
        <input type="text" name="id" required value="<%=editemployee.ename %>">
        <br /><br />

        <label>Job</label>
        <input type="city" name="role" required value="<%=editemployee.role %>">
        <br /><br />

        <label>Salary</label>
        <input type="text" name="salary" required value="<%=editemployee.salary %>">
        <br /><br />

        <button type="submit">Submit</button>
    </form>


    <br /><br />
    <a href="http://localhost:3004/homePage">Home</a>