<h3> Employees Page </h3>


<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Salary</th>
    </tr>
    <% emp.forEach((emp)=>
        { %>
        <tr>
            <td>
                <%= emp.id %>
            </td>
            <td>
                <%= emp.name %>
            </td>
            <td>
                <%= emp.salary %>
            </td>
            <td>
            </td>
        </tr>
        <% }) %>
</table>
<br /><br />
<a href="http://localhost:3004/editemployees">Edit</a>
<br /><br />
<a href="http://localhost:3004/homePage">Home</a>