<h3> Employees Page </h3>


<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>role</th>
        <th>Salary</th>
    </tr>
    <% data.forEach(element=> {
        console.log(element.eid)
        })
        { %>
        <tr>
            <td>
                <%= element.eid %>
            </td>
            <td>
                <%= element.ename %>
            </td>
            <td>
                <%= element.role %>
            </td>
            <td>
                <%= element.Salary %>
            </td>
            <td>
            </td>
        </tr>
        <% }) %>
</table>
<br /><br />
<a href="http://localhost:3004/editemployees">Edit</a>
<br /><br />
<a href="http://localhost:3004/homePage">Home</a>