<h1>
    Welcome to the home page
</h1>


<a href="http://localhost:3004/employees">Employees Page</a>

<br /><br />

<a href="http://localhost:3004/dept">Departments Page</a>
<br /><br />
<a href="http://localhost:3004/employeesMongoDB">Mongo Employees Page</a>